{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier/recommended"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
